@import '../../../variables.scss';

.root {
    width: 60%;
    color: $selected-color;
    background-color: $selected-background-color;
}

.detailElement {
    padding: 3rem;
}

.hidden {
    display: none;
}

.star {
    height: 1em,
}