@import '../../../variables.scss';

.root {
    width: 50%;
    padding: 3rem;
    color: $selected-color;
    background-color: $selected-background-color;
}

.main {
    display: initial;
}

.under {
    display: none;
}

@media (max-width: $mobile-breakpoint) {

    .root {
        width: 100%;
    }

    .main {
        display: none;
    }

    .under {
        display: block;
    }

}

.hidden {
    display: none;
}

.star {
    height: 1em,
}