$default-color: white;
$default-background-color: black;
$selected-color: black;
$selected-background-color: white;
$transition-duration: 200ms;

$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;

$default-image-height: 5rem;
$mobile-image-height: 3.5rem;