@import '../../variables.scss';

.root {
    box-sizing: border-box;
    width: 50%;

    @media screen and (max-width: $tablet-breakpoint) {
        width: 100%;
    }
}

.inner {
    box-sizing: border-box;
    color: $selected-color;
    background-color: $selected-background-color;
    border-radius: 1rem;
    margin: 1rem;
    margin-left: 0.5rem;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-property: background-color, color;
    transition-duration: $transition-duration;
    // height is 100% of parent minus the total vertical margin of this element
    min-height: calc(100% - 1rem);

    @media screen and (max-width: $tablet-breakpoint) {
        margin-left: 1rem;
    }
}

// details are displayed in their own section in desktop
.main {

    display: initial;

    @media screen and (max-width: $tablet-breakpoint) {
        display: none;
    }
}

// details are displayed under the bars on tablet and lower
.under {

    display: none;

    .inner {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 1rem 2rem;
        margin-top: 0;
        padding-top: 0;
        border-top: none;
    }

    @media screen and (max-width: $tablet-breakpoint) {
        display: block;
    }
}

.hidden {
    // display: none;
    visibility: hidden;
    height: 0;

    .inner {
        color: $default-color;
        background-color: $default-background-color;
    }
}

// stars and reviews
.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;

    // star icons
    .star {
        height: 1.5rem,
    }

    // review link
    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

// button to add to card
.cartButton {
    box-sizing: border-box;
    color: $default-color;
    background-color: $default-background-color;
    padding: 0rem 2rem;
    border-radius: 5rem;
    margin: auto;
    margin-top: 1rem;
    border: 1px solid $default-background-color;

    // when clicked
    &:active {
        box-sizing: border-box;
        color: $selected-color;
        background-color: $selected-background-color;
        border: 1px solid $selected-color;
    }
}