@import '../../variables.scss';

.root {
    box-sizing: border-box;
    width: 50%;
}

.productBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition-property: background-color;
    transition-duration: $transition-duration;
    border: 1px solid $default-color;
    border-radius: 1rem;
    margin: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0;
    padding: 1rem;
}

.productImage {
    max-height: 5rem;
    border-radius: 1rem;
}

.name {
    padding: 1rem;
}

.arrow {
    max-height: 5rem;
    filter: invert(1);
    transition-property: transform, filter;
    transition-duration: $transition-duration;
}

.selected {
    color: $selected-color;
    background-color: $selected-background-color;

    @media (max-width: $mobile-breakpoint) {
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .arrow {
        transform: scale(-1, 1);
        filter: invert(0);
    }
}

@media (max-width: $mobile-breakpoint) {

    .root {
        width: 100%,
    }

    .productBar {
        margin-right: 1rem;
    }

    .arrow {
        transform: rotate(270deg);
    }

    .selected .arrow {
        transform: rotate(270deg) scale(-1, 1);
    }

}
